* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Tahoma, sans-serif;
}

body {
  background-color: #323232;
  display: flex;
  justify-content: center;
}

.main-content {
  margin-top: 10vh;
  background-color: #d7d7d7;
  color: #323232;
  width: 300px;
  height: 400px;
  padding: 16px;
  text-align: center;
}

.main-tittle,
.resultado {
  margin: 24px;
  font-weight: bold;
}

.el-form {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
}